# SUPABASE_URL: URL of your Supabase project (e.g., https://xxxxxxxxxxxxxx.supabase.co)
VITE_SUPABASE_URL=""

# SUPABASE_ANON_KEY: Anonymous public key for Supabase Client SDK
VITE_SUPABASE_ANON_KEY=""
